*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
width: 100%;
height: 100vh;

}
.nav1{
width: 100%;
height: 80px;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
background-color: salmon;
text-align: center;

}
.nav1 .left a{
text-decoration: none;
margin: 10px;

}

.right i{

    font-size: 20px;
    margin: 10px;
}